<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
  package="com.LRTNZ.SimpleUSBPlayout">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-feature android:name="android.software.leanback" android:required="true"/>
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-feature android:name="android.software.leanback" android:required="true" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:banner="@drawable/ic_launcher"
    android:logo="@drawable/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat"
      android:requestLegacyExternalStorage="true">

    <activity
      android:name="com.LRTNZ.SimpleUSBPlayout.App"
      android:icon="@drawable/ic_launcher"
      android:banner="@drawable/ic_launcher"
      android:logo="@drawable/ic_launcher"
      android:configChanges="keyboard|keyboardHidden|navigation|orientation"
      android:label="Simple USB Playout"
      android:theme="@style/Theme.Leanback"
      android:launchMode="singleTask"
        android:alwaysRetainTaskState="false"
      android:clearTaskOnLaunch="true"
        android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>

    </activity>


  </application>

</manifest>
